GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# PostgreSQL (Render)
SPRING_DATASOURCE_URL=jdbc:postgresql://<host>:<port>/<database>
SPRING_DATASOURCE_USERNAME=ludolang
SPRING_DATASOURCE_PASSWORD=password

AUTH_COOKIE_DOMAIN=onrender.com
AUTH_COOKIE_SAME_SITE=None
AUTH_COOKIE_SECURE=true

FRONTEND_ORIGINS=https://ludolang.vercel.app

JWT_SECRET=34bf0e62c9de434d1f1f6650bb2302dc
